<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.shivamkrj.drone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="whateverString"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ItemActivity"/>
        <activity
            android:name=".About"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Beneficiaries" />
        <activity android:name=".ListNgo" />
        <activity android:name=".UsersActivity"/>
        <activity android:name=".LocationActivity"/>
        <activity android:name=".Launcher"
            android:theme="@style/AppThemeNoActionBar"/>


        <activity android:name=".ChatActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NoInternetActivity"
            android:theme="@style/AppThemeNoActionBar"/>

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5012406189825580~7989096383"/>

    </application>

</manifest>